h1{
    text-align: center;
    color:#907368;
}

h3{
    color:#907368;
}

p{
    color:#907368;
}

#nav-shadow{
    position: sticky;
    box-sizing: border-box;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    box-shadow: 0px 5px 5px 0px;
    z-index: 2;
    background-color: #F1DC84;
    padding: 10px;
}
body{
    background-color: bisque;
    width: 100%;
    height: 100%;
    
}

#scoreboard{
    box-sizing: border-box;
    width: 75%;
    height: 400px;
    box-shadow: 0px 5px 5px 0px;
    background-color:#F1DC84;
}

/* #search{
    position: fixed;
    top: 2%;
    right: 5%;
    width: 8%;
    height: 2%;
    background-color: #907368;
    color:white;
    border-radius: 5px;
    text-align: center;
} */

#searchbtn{
    position: fixed;
    top: 2%;
    right: 1%;
    color: #907368;
}

#profilePage{
    position:fixed;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    box-shadow: 0px 5px 5px 0px;
    background-color:#F1DC84;
    left: 10%;
}

#profilePicture{
    position:fixed;
    box-sizing: border-box;
    width: 5%;
    height: 12%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 17%;
    left: 12%;
    z-index: 2;
}

#profileChart{
    position:fixed;
    box-sizing: border-box;
    width: 40%;
    height: 40%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 25%;
    left: 30%;
    z-index: 2;
}

#strength{
    position:fixed;
    box-sizing: border-box;
    width: 20%;
    height: 5%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 75%;
    left: 20%;
    z-index: 2;
    padding-top: 10px;

}

#agility{
    position:fixed;
    box-sizing: border-box;
    width: 20%;
    height: 5%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 82%;
    left: 20%;
    z-index: 2;
    padding-top: 10px;

}

#wisdom{
    position:fixed;
    box-sizing: border-box;
    width: 20%;
    height: 5%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 75%;
    left: 60%;
    z-index: 2;
    padding-top: 10px;

}

#intelligence{
    position:fixed;
    box-sizing: border-box;
    width: 20%;
    height: 5%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 82%;
    left: 60%;
    z-index: 2;
    padding-top: 10px;

}

#charisma{
    position:fixed;
    box-sizing: border-box;
    width: 20%;
    height: 5%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 89%;
    left: 20%;
    z-index: 2;
    padding-top: 10px;

}

#grit{
    position:fixed;
    box-sizing: border-box;
    width: 20%;
    height: 5%;
    box-shadow: 0px 5px 5px 0px;
    background-color:white;
    top: 89%;
    left: 60%;
    z-index: 2;
    padding-top: 10px;

}