{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href={% static 'FriendlyPowerScaling/style.css' %}>

{% block title %}Profile{% endblock %}

<link rel="static/stylesheet" href="style.css">

{% block content %}
<h1>My profile</h1>
<div id="profilePage"></div>
<div id="profilePicture"></div>
<div id="profileChart"></div>
<div id="strength"></div>
<div id="agility"></div>
<div id="wisdom"></div>
<div id="intelligence"></div>
<div id="charisma"></div>
<div id="grit"></div>
{%endblock%}
